target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### src ###
src/main/java/com/oose/group6/backend/controller/HelloWorldController.*
src/main/java/com/oose/group6/backend/common/SecurityConfig.java
src/main/resources/